<h1>All events</h1>

<h3>Upcoming:</h3>
<ol class="events">
	<% @upcoming.each do |event|%>
		<li>
			<%= link_to event.description, event %>
			(<%= event.date.strftime("%B %e, %Y") %>)
		</li>
	<% end %>
</ol>

<h3>Past:</h3>
<ol class="events">
	<% @past.each do |event|%>
		<li>
			<%= link_to event.description, event %>
			(<%= event.date.strftime("%B %e, %Y") %>)
		</li>
	<% end %>
</ol>
